[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
packaging = "*"
python-telegram-bot = {extras = ["all"], version = "*"}
pyngrok = "*"
pytest = "*"
pytest-cov = "*"
python-telegram-framework = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"
